<nav class="fixed w-full bg-main text-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <div>
          <a href="/" class="flex items-center py-5 px-2">
            <span class="font-black">
              L2H
            </span>
          </a>
        </div>

        <div class="hidden md:flex items-center space-x-1">
          <a href="/" class="py-5 px-3">
            Home
          </a>
          <a href="/converter" class="py-5 px-3">
            Try Converting
          </a>
          <a href="/guides" class="py-5 px-3">
            User Guide
          </a>
        </div>
      </div>

      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="mobile-menu hidden md:hidden">
    <a href="/" class="block py-2 px-4 text-sm">
      Home
    </a>
    <a href="/converter" class="block py-2 px-4 text-sm">
      Try Converting
    </a>
    <a href="/guides" class="block py-2 px-4 text-sm">
      User Guide
    </a>
  </div>
</nav>