{% extends '../index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="flex max-w-[1024px] row m-auto px-16 pt-40 pb-8">
  <div class="text-black space-y-6 my-auto">
    <h2 class="font-extrabold text-4xl">
      User Guide Generate Low Fidelity to High Fidelity
    </h2>
  </div>
</div>

<div class="flex max-w-[1024px] row m-auto px-16 py-8">
  <ul class="w-[768px] ml-6 list-decimal">
    <li>
      Open website L2H
    </li>
    <li>
      Head to Try Converting or click `Try Now`
    </li>
    <li>
      Input SALT UML code
    </li>
    <li>
      Click `Convert` button
    </li>
    <li>
      The system processes saltUML code from user, and display interface high fidelity HTML with CSS in two version (2 template)
    </li>
    <li>
      User can choose template
    </li>
    <li>
      The system provides a template code based on user choice
    </li>
    <li>
      User can copy HTML and CSS code based on selected high fidelity template, with click icon `copy`
    </li>
  </ul>
  <br>
</div>
{% endblock %}
